* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgb(75, 73, 73);
}

.slider {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.slide {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left-arrow,
.right-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 10px;
  z-index: 10px;
  cursor: pointer;
}

.left-arrow:active,
.right-arrow:active {
  transform: scale(1.2);
}

.left-arrow {
  top: 45%;
  left: 2%;
}

.right-arrow {
  top: 45%;
  right: 2%;
}

.circles {
  margin-bottom: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
}

.circle {
  width: 20px;
  height: 20px;
  background-image: url("assets/empty-circle.svg");
  background-size: cover;
}

.circle:hover {
  cursor: pointer;
}

.filled {
  background-image: url("assets/filled-circle.svg");
}

.play {
  width: 20px;
  height: 20px;
  background-image: url("assets/play.svg");
  background-size: cover;
}

.pause {
  width: 20px;
  height: 20px;
}
.play:hover,
.pause:hover {
  cursor: pointer;
}
